{% extends 'layout.html' %}

{% block container %}
    <div class="inline-block">
      <h2>Tasks List</h2>
      <a href="{{ url_for('.task_new') }}">New Task</a>
    </div>

   <table class="table">
      <thead>
         <tr>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
         </tr>
      </thead>
      <tbody>
         {% for task in tasks %}
           <tr>
              <td>
                 {{ task.title }}
              </td>
              <td>
               {{ task.description }}
            </td>
           </tr>
         {% endfor %}
      </tbody>

   </table>
{% endblock %}